a6/catalog.dtd

    <!ELEMENT CATALOG (BOOK*)>
    <!ELEMENT BOOK (AUTHOR+, PUBLISHER*, PUB_DATE, LoC_NUM)>
        <!ATTLIST BOOK title CDATA #REQUIRED>
    <!ELEMENT AUTHOR (FIRST_NAME*, LAST_NAME)>
    <!ELEMENT FIRST_NAME (#PCDATA)>
    <!ELEMENT LAST_NAME (#PCDATA)>

    <!ELEMENT PUBLISHER (NAME*, ISBN*)>
    <!ELEMENT NAME (#PCDATA)>
    <!ELEMENT ISBN (#PCDATA)>
    <!ELEMENT PUB_DATE (MONTH*, YEAR)>
    <!ELEMENT MONTH (#PCDATA)>
    <!ELEMENT YEAR (#PCDATA)>
    <!ELEMENT LoC_NUM (#PCDATA)>
